.wrapper{
  width: 100%;
  padding: var(--md);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--md);
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--xl);
  &__social{
    width: 100%;
    padding: 0 var(--sm);
    display: flex;
    justify-content: space-evenly;
  }
}
.social{
  width: 5.5rem;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: var(--sm);
  margin-bottom: 1.5rem;
}
.footer{
  text-align: center;
  padding: var(--sm) var(--md);
  p{
    margin: 0;
  }
}

@media (min-width: 768px){
  .wrapper{
    max-width: 640px;
    margin: 0 auto;
    gap: var(--lg);
  }
  .social{
    width: 7rem;
  }
  .profile{
    &__social{
      width: 80%;
      padding: 0 var(--xxl);
    }
  }
  .gallery{
    gap: var(--lg);
  }
}
@media screen and (min-width: 992px){
  .wrapper{
    max-width: 900px;
    gap: var(--xxl);
  }
  .profile{
    &__social{
      width: 60%;
    }
  }
}
@media screen and (min-width: 1200px){
  .wrapper{
    max-width: 1000px;
  }
  .profile{
    &__social{
      width: 50%;
    }
  }
}